#container {
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

h1{
    text-align: center;
}

.btn {
    border: 1px solid #000000;
    margin: 2px;
    padding: 1%;
    
}

.btndiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.middiv{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
